/* Custom CSS */
:root {
  /* Styleguide colors */
  --validation-color: #fd4e77;
  --primary-color: #08fdb4;
  --secondary-color: #81d8f7;
  --text-color: #fff;

  --projects-color: #ea9610;
  --background-color: #1d1d1d;

  /* Font sizes */
  --font-size-titles: 3rem;
  --font-size-sub-title: 1.5rem;
  --font-size-labels: 1.2rem;
  --font-size-regular: 1rem;
  --font-size-icons: 2rem;

  /* Font family */
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Lato", sans-serif;

  /* Standard sizes */
  --primary-margin: 1rem;
  --secondary-margin: 10%;
  --primary-border-size: 0.2rem;
}

body,
input,
button,
textarea {
  background-color: var(--background-color);
}

/* Fonts */
h1,
h2,
h3,
h4,
h5,
a {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  color: var(--text-color);
  margin: var(--primary-margin);
}

p,
label,
button,
strong {
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: var(--font-size-regular);
  color: var(--text-color);
  margin: var(--primary-margin);
  line-height: normal;
}

/* Detailed changes to fonts */
h1,
h2 {
  font-size: var(--font-size-titles);
  color: var(--primary-color);
}

h3,
h4 {
  font-size: var(--font-size-sub-title);
}

h4,
h5 {
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Standard designs */

button {
  border: 0.2rem solid var(--primary-color);
  border-radius: 2px;
  width: 50%;
  line-height: 2rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color);
  transition: background-color 0.5s;
  color: var(--background-color);
}

.primary-border {
  border: 0.2rem solid var(--primary-color);
  border-radius: 2px;
}

.secondary-border {
  border: 0.2rem solid var(--secondary-color);
  border-radius: 2px;
}

/* Styling of the navigation */
.nav-container {
  grid-area: nav;
  background-color: #2a2929;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  position:fixed;
  width:100%;
}

.nav-images-list {
  margin-top: 0;
}

.nav-images {
  max-width: var(--font-size-icons);
  position: relative;
  top: 10px;
}

li {
  display: inline-block;
  margin: var(--primary-margin);
}

a:hover {
  color: var(--primary-color);
}

section:first-of-type{
  margin-top:5%;
}

@media (max-width: 900px) {
  .nav-images-list {
    display: none;
  }
}

@media(max-width:420px){
  .contact-link{
    display:none
  }
}
/* Animations */
@keyframes wobble {
  0% {
    transform: rotate(20deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes fluid {
  0% {
    border-radius: 10% 30% 50% 70%;
  }

  25% {
    border-radius: 50% 20% / 10% 40%;
  }

  50% {
    border-radius: 25% 10%;
  }
  75% {
    border-radius: 10% 40% / 50% 20%;
  }
  100% {
    border-radius: 10% 25%;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes colorChange{
	from { color: var(--secondary-color); }
	to { color: var(--primary-color); }
}