/* Grid for the homepage */
body {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  row-gap: 3%;
  grid-template-areas:
    "nav nav nav"
    "... about-me ..."
    "... expertise   ..."
    "... projects   ..."
    "... contact-information ...";
}

/* Styling about me section */

#about-me {
  grid-area: about-me;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-areas:
    "about-content ... about-image"
    "character-traits ... about-image";
}
.character-traits {
  grid-area: character-traits;
}

.about-content {
  grid-area: about-content;
}

.about-image {
  grid-area: about-image;
}

.portret {
  border: 0.3rem solid var(--primary-color);
  border-radius: 10px 100px / 120px;
  max-width: 80%;
  max-height: 100%;
  display: block;
  margin: auto;
}

@media (max-width: 1024px) {
  #about-me {
    grid-template-areas:
      "about-content about-content about-content"
      "character-traits  ... about-image";
  }
}

@media (max-width: 476px) {
  #about-me {
    grid-template-areas:
      "about-content about-content about-content"
      "about-image about-image about-image"
      "character-traits character-traits character-traits";
  }

  .character-traits button {
    width: 80%;
  }
}

/* Expertise section styling */

#expertise {
  grid-area: expertise;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-areas: "expertise-description ... expertise-logos";
}

.expertise-content {
  grid-area: expertise-description;
}

.expertise-logos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  column-gap: var(--primary-margin);
  row-gap: var(--primary-margin);
  grid-area: expertise-logos;
  margin:auto;
  max-width: 470px;

}

@media (max-width: 768px) {
  #expertise {
    grid-area: expertise;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "expertise-description"
      "expertise-logos";
  }
}
.expertise-logo-container {
  background-color: var(--text-color);
  height: 75px;
  width: 75px;
  text-align: center;
}

.expertise-logo-container img {
  margin-top: 10%;
  margin-bottom: 10%;
  max-height: 80%;
  max-width: 80%;
}

#horizontal-aws-logo {
  margin-top: 25%;
}

/* Projects section styling */
#projects {
  grid-area: projects;
}

.projects-section-context {
  max-width: 45%;
}

/* TODO: see how this link behaves and correct it without position */
.project-github-icon {
  cursor: pointer;
  max-height: var(--font-size-icons);
  position: relative;
  top: 10px;
}

.project-section-selection {
  display: flex;
  column-gap: 5%;
  margin: var(--primary-margin);
}

.project-card {
  border: 0.2rem solid var(--secondary-color);
  max-width: 30%;
  text-align: center;
}

.project-card-button {
  border-color: var(--secondary-color);
}

.project-card-button:hover,
.project-card-button:hover a {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: #1d1d1d;
}

@media (max-width: 1024px) {
  .projects-section-context {
    max-width: 100%;
  }
  .project-card {
    display: block;
    max-width: 100%;
    text-align: left;
  }
  .project-section-selection {
    flex-wrap: wrap;
    row-gap: var(--primary-margin);
  }
}

/* Contact information styling */
#contact-information {
  display: flex;
  column-gap: 5%;
  grid-area: contact-information;
}

.button-downloads {
  display: inline-block;
  max-width: 40%;
}

@media (max-width: 1024px) {
  #contact-information {
    flex-wrap: wrap;
    row-gap: var(--primary-margin);
  }

  .download-section {
    order: 2;
  }
  .button-downloads {
    display: inline-block;
    max-width: 35%;
  }

  #contact-information a {
    display: inline-block;
  }
}

.contact-form {
  margin-left: var(--primary-margin);
}

.contact-form label {
  display: block;
  font-size: var(--font-size-labels);
  margin: 0.1rem;
}

.form-elements {
  border: 0.1rem solid var(--text-color);
  border-radius: 2px;
  width: 80%;
  height: var(--font-size-icons);
  margin-bottom: var(--primary-margin);
  outline: none;
  color: var(--text-color);
}

.contact-form input:focus {
  border: 0.2rem solid var(--secondary-color);
}

.contact-form textarea {
  width: 80%;
  height: 6rem;
  border: 0.1rem solid var(--text-color);
  border-radius: 2px;
  color: var(--text-color);
  resize: none;
  outline: none;
  font-family: var(--primary-font-family);
  margin-bottom: var(--primary-margin);
}

.contact-form textarea:focus {
  border: 0.2rem solid var(--secondary-color);
}

.contact-form button {
  margin-left: 0;
}

select {
  background-color: var(--background-color);
  width: 81%;
  border: 0.1rem solid var(--text-color);
  border-radius: 2px;
  margin-bottom: var(--primary-margin);
  color: var(--text-color);
  height: 2rem;
  outline: none;
}

.lightning-talks {
  margin: 0;
  color: var(--primary-color);
}

/* Form validation classes */
.error {
  border-color: var(--validation-color);
}

.success {
  border-color: var(--primary-color);
}

.error-message {
  visibility:hidden;
  color:var(--validation-color);
  display:inline-block;
  margin: 0 0 0.4rem 0;
}
