/* Custom CSS */
:root {
  font-size: 16px;
  /* Styleguide colors */
  --primary-color: #08fdb4;
  --secondary-color: #81d8f7;
  --text-color: #fff;
  --validation-color: #fd2155;
  --projects-color: #ea9610;
  --background-color: #1d1d1d;

  /* Font sizes */
  --font-size-titles: 3rem;
  --font-size-sub-title: 1.5rem;
  --font-size-labels: 1.2rem;
  --font-size-regular: 1rem;
  --font-size-icons: 2rem;

  /* Font family */
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Lato", sans-serif;

  /* Standard sizes */
  --primary-margin: 1rem;
  --secondary-margin: 10%;
  --primary-border-size: 0.2rem;
}

body,
input,
button,
textarea {
  background-color: var(--background-color);
}

/* Fonts */
h1,
h2,
h3,
h4,
h5,
a {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  color: var(--text-color);
  margin: var(--primary-margin);
}

p,
label,
button {
  font-family: var(--primary-font-family);
  font-weight: normal;
  font-size: var(--font-size-regular);
  color: var(--text-color);
  margin: var(--primary-margin);
  line-height: normal;
}

/* Detailed changes to fonts */
h1,
h2 {
  font-size: var(--font-size-titles);
  color: var(--primary-color);
}

h3,
h4 {
  font-size: var(--font-size-sub-title);
}

h4,
h5 {
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* Grid for the homepage */
body {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  row-gap: 1%;
  grid-template-areas:
    "nav nav nav"
    "... about-me ..."
    "... expertise   ..."
    "... projects   ..."
    "... contact-information ...";
}

@media (min-width: 1280px) {
  body {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    row-gap: 3%;
    grid-template-areas:
      "nav nav  nav"
      "... about-me ..."
      "... expertise   ..."
      "... projects   ..."
      "... contact-information ...";
  }
}
/* Standard designs */

button {
  border: 0.2rem solid var(--primary-color);
  border-radius: 2px;
  width: 50%;
  line-height: 2rem;
  cursor: pointer;
}

.primary-border {
  border: 0.2rem solid var(--primary-color);
  border-radius: 2px;
}

/* Styling of the navigation */
.nav-container {
  grid-area: nav;
  background-color: #2a2929;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-images-list {
  margin-top: 0;
}

.nav-images {
  max-width: var(--font-size-icons);
  position: relative;
  top: 10px;
}

li {
  display: inline-block;
  margin: var(--primary-margin);
}

a:hover {
  color: var(--primary-color);
}

/* Styling about me section */

#about-me {
  grid-area: about-me;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-areas: "about-content ... about-image";
}


.about-content {
  grid-area:about-content;
}

.about-image{
  grid-area:about-image;
}

.portret {
  border: 0.3rem solid var(--primary-color);
  border-radius: 10px 100px / 120px;
  max-width: 80%;
  max-height: 100%;
  display: block;
  margin: 5% auto auto auto;
}


@media (min-width: 1280px) {
  #about-me {
    grid-area: about-me;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-areas: "about-content ... about-image";
  }
  
}





/* Expertise section styling */

#expertise {
  grid-area: expertise;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  grid-template-areas: "expertise-description ... expertise-logos";
}

.expertise-content {
  grid-area: expertise-description;
}

.expertise-logos {
  display: inline-grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-area: expertise-logos;
}

.expertise-logo-container {
  background-color: var(--text-color);
  height: 75px;
  width: 75px;
  text-align: center;
}

.expertise-logo-container img {
  margin-top: 10%;
  margin-bottom: 10%;
  max-height: 80%;
  max-width: 80%;
}

#horizontal-aws-logo {
  margin-top: 25%;
}

/* Projects section styling */
#projects {
  grid-area: projects;
}

.projects-section-context {
  max-width: 45%;
}

/* TODO: see how this link behaves and correct it without position */
.project-github-icon {
  cursor: pointer;
  max-height: var(--font-size-icons);
  position: relative;
  top: 10px;
}

.project-section-selection {
  display: flex;
  column-gap: 5%;
  margin: var(--primary-margin);
}

.project-card {
  border: 0.2rem solid var(--secondary-color);
  max-width: 30%;
  text-align: center;
}

.project-card-button {
  border-color: var(--secondary-color);
}

.project-card-button:hover,
.project-card-button:hover a {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: #1d1d1d;
}

/* Contact information styling */
#contact-information {
  display: flex;
  column-gap: 5%;
  grid-area: contact-information;
}

.button-downloads {
  display: inline-block;
  max-width: 30%;
}

.contact-form {
  margin-left: var(--primary-margin);
}

.contact-form label {
  display: block;
  font-size: var(--font-size-labels);
  margin: 0.1rem;
}

.contact-form input {
  border: 0.1rem solid var(--text-color);
  border-radius: 2px;
  width: 80%;
  height: var(--font-size-icons);
  margin-bottom: var(--primary-margin);
  outline: none;
  color: var(--text-color);
}

.contact-form input:focus {
  border: 0.2rem solid var(--secondary-color);
}

.contact-form textarea {
  width: 80%;
  height: 6rem;
  border: 0.1rem solid var(--text-color);
  border-radius: 2px;
  color: var(--text-color);
  resize: none;
  outline: none;
  font-family: var(--primary-font-family);
}

.contact-form textarea:focus {
  border: 0.2rem solid var(--secondary-color);
}

.contact-form button {
  margin-left: 0;
}

select {
  background-color: var(--background-color);
  width: 81%;
  border: 0.1rem solid var(--text-color);
  border-radius: 2px;
  margin-bottom: var(--primary-margin);
  color: var(--text-color);
  height: 2rem;
  outline: none;
}
.lightning-talks {
  margin: 0;
  color: var(--primary-color);
}

/* Styling project card small */
.project-card-small {
  border: 0.2rem solid var(--secondary-color);
  margin: var(--primary-margin);
  max-width: 40%;
  display: inline-block;
}

.project-card-small:hover {
  border: 0.2rem solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}

.project-details-section {
  display: grid;
  grid-template-columns: 10% 35% 10% 35% 10%;
  grid-template-areas: "... details ... selection";
  margin: var(--primary-margin) 0 0 0;
}

.project-selection {
  grid-area: selection;
  display: flex;
  flex-wrap: wrap;
}

.project-details {
  grid-area: details;
}
