<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="../assets/logos/favicon.png" />
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/general_styles.css" />
    <link rel="stylesheet" href="../styles/project_details.css" />
    <script defer src="../scripts/project-content.js"></script>
    <title>Chrétien van Veldhuizen</title>
  </head>
  <body>
    <nav class="nav-container">
      <ul>
        <li><a href="../index.html">About me</a></li>
        <li><a href="../index.html#expertise">Expertise</a></li>
        <li><a href="./components/project_page.html">Projects</a></li>
        <li><a href="../index.html#contact-information">Contact me</a></li>
        <li class="nav-images-list">
          <a
            target="_blank"
            href="https://www.linkedin.com/in/chretienvanveldhuizen/"
            ><img
              class="nav-images"
              alt="Linkedin icon"
              src="../assets/logos/linkedin.png"
          /></a>
        </li>
        <li class="nav-images-list">
          <a target="_blank" href="https://github.com/Chretienvv"
            ><img
              class="nav-images"
              alt="github icon"
              src="../assets/logos/github.png"
          /></a>
        </li>
      </ul>
    </nav>
    <section class="project-details-section">
      <article class="project-details">
        <article>
          <h2>Projects</h2>
          <h3>From small till big projects, passion is the key</h3>
          <p>
            Work related and hobby projects from small till big are showcased
            here. Some are private because of privacy reasons. The proces is
            what matter to me, that is why I shared my github as well. Feel free
            to contact me so that I can explain more about the projects I made!
            I would love to hear feedback and improvements.
          </p>
        </article>
        <article aria-live="assertive" aria-atomic="true">
          <h4 id="project-title">Error something went wrong</h4>
          <h5>Role:</h5>
          <p id="role">Error something went wrong</p>
          <h5>Responsibility:</h5>
          <p id="responsibility">Error something went wrong</p>
          <h5>Project:</h5>
          <p id="project-description">Error something went wrong</p>
          <h5>Next Time:</h5>
          <p id="learnings">Error something went wrong</p>
          <h5>Techniques</h5>
          <p id="techniques">Error something went wrong</p>
          <button class="project-card-button github-button">
            More information on my github
          </button>
        </article>
      </article>

      <article class="project-selection">
        <div class="project-card-small" id="project-sopickmeup">
          <h4>Project: SoPickMeUp</h4>
          <h5>Role:</h5>
          <p>Frontend developer</p>
          <h5>Techniques:</h5>
          <p>
            <abbr title="Hypertext Markup Language">HTML</abbr>,
            <abbr title="Cascading style sheet">CSS</abbr> TypeScript, Angular,
            JSON, Git, Bootstrap
          </p>
        </div>
        <div class="project-card-small">
          <h4>Project: Portfolio</h4>
          <h5>Role:</h5>
          <p>Frontend developer</p>
          <h5>Techniques:</h5>
          <p>
            <abbr title="Hypertext Markup Language">HTML</abbr>,
            <abbr title="Cascading style sheet">CSS</abbr> JavaScript, GIT,  <abbr title="Amazon webservices">AWS</abbr>,
            accessibility
          </p>
        </div>
        <div class="project-card-small">
          <h4>Project: Costdashboard</h4>
          <h5>Role:</h5>
          <p>Software/ cloud engineer</p>
          <h5>Techniques:</h5>
          <p>Python, TypeScript,  <abbr title="Amazon webservices">AWS</abbr>, Git, DynamoDB, Lambda, S3</p>
        </div>
        <div class="project-card-small">
          <h4>Project: Agile Racetrack</h4>
          <h5>Role:</h5>
          <p>Frontend developer/ cloud engineer</p>
          <h5>Techniques:</h5>
          <p>
            AWS, <abbr title="Hypertext Markup Language">HTML</abbr>,
            <abbr title="Cascading style sheet">CSS</abbr> JavaScript, Python
          </p>
        </div>
        <div class="project-card-small">
          <h4>Project: Matroesjka</h4>
          <h5>Role:</h5>
          <p>Frontend developer</p>
          <h5>Techniques:</h5>
          <p>
            AWS Api gateway,
            <abbr title="Hypertext Markup Language">HTML</abbr>,
            <abbr title="Cascading style sheet">CSS</abbr>JavaScript,  <abbr title="Amazon webservices">AWS</abbr>, Git
          </p>
        </div>
        <div class="project-card-small">
          <h4>Project: Code Projects</h4>
          <h5>Role: Software engineer</h5>
          <p>Frontend developer</p>
          <h5>Techniques:</h5>
          <p>JavaScript, TypeScript, Python</p>
        </div>
        <div class="project-card-small">
          <h4>Project: Developer Portal</h4>
          <h5>Role:</h5>
          <p>Frontend developer/ cloud engineer</p>
          <h5>Techniques:</h5>
          <p>
            <abbr title="Hypertext Markup Language">HTML</abbr>,
            <abbr title="Cascading style sheet">CSS</abbr> TypeScript, Python,
            Git, Azure DevOps
          </p>
        </div>
        <div class="project-card-small">
          <h4>Project: InnoSportLab</h4>
          <h5>Role:</h5>
          <p>Frontend developer</p>
          <h5>Techniques:</h5>
          <p>
            <abbr title="Amazon webservices">AWS</abbr>,
            <abbr title="Hypertext Markup Language">HTML</abbr>,
            <abbr title="Cascading style sheet">CSS</abbr> Ionic, JSON,
            TypeScript, Git
          </p>
        </div>
      </article>
    </section>
  </body>
</html>
