<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/styles.css" />
    <title>Chrétien van Veldhuizen</title>
  </head>
  <body>
    <div class="nav-container">
      <nav>
        <ul>
          <li><a href="#about-me">About me</a></li>
          <li><a href="#expertise">Expertise</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#contact-me">Contact me</a></li>
          <li><a href="#">Playground</a></li>
        </ul>
      </nav>
      <div>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/chretienvanveldhuizen/"
          ><img class="nav-images" src="../assets/logos/linkedin.png"
        /></a>
        <a target="_blank" href="https://github.com/Chretienvv"
          ><img class="nav-images" src="../assets/logos/github.png"
        /></a>
      </div>
    </div>
    <section class="project-details-section">
      <div class="project-details">
        <div>
          <h2>Projects</h2>
          <h3>From small till big projects, passion is the key</h3>
          <p>
            Work related and hobby projects from small till big are showcased
            here. Some are private because of privacy reasons. The proces is
            what matter to me, that is why I shared my github as well. Feel free
            to contact me so that I can explain more about the projects I made!
            I would love to hear feedback and improvements.
          </p>
        </div>
        <div>
          <h4>SoPickMeUp</h4>
          <h5>Role:</h5>
          <p>Frontend developer & Scrum master</p>
          <h5>Responsibility:</h5>
          <p>
            I was responsible for the connection of the backend, built
            components and services and implemented designs. All this in Angular
            8 in combination with bootstrap and REST APIs. For example, I made
            forms, the login function, and services in TypeScript. In this
            project I had short lines with the designer and back-ender and we
            switched gears quickly and efficiently. As a result, impactful
            design choices are made or not.
          </p>
          <h5>Project:</h5>
          <p>
            SoPickMeUp is a carpool web app that makes it possible for Sogetists
            to ride together to events and training. This makes the journey more
            fun, more efficient, and more environmentally conscious. In a team
            of developers and designers I acted as frontend developer and scrum
            master. This with CSR, security and AVG always in mind.
          </p>
          <h5>Next Time:</h5>
          <p>
            In the future I will implement testing earlier in the proces. During
            this project there were times we wished it was there. Also the
            accessibility of the application could be improved with for instance
            A11y guidelines.
          </p>
          <h5>Techniques</h5>
          <p>HTML, CSS, TypeScript, Angular, JSON, Git, Bootstrap</p>
          <button
            onclick="window.open('https://github.com/Chretienvv','_blank')"
            class="project-card-button"
          >
            More information on my github
          </button>
        </div>
      </div>

      <div class="project-selection">
        <div class="project-card-small">
          <h4>Project: SoPickMeUp</h4>
          <h5>Role:</h5>
          <p>Frontend developer</p>
          <h5>Techniques:</h5>
          <p>HTML, CSS, TypeScript, Angular, JSON, Git, Bootstrap</p>
        </div>
        <div class="project-card-small">
          <h4>Project: Portfolio</h4>
          <h5>Role:</h5>
          <p>Frontend developer</p>
          <h5>Techniques:</h5>
          <p>HTML, CSS, JavaScript, GIT, AWS, accessibility</p>
        </div>
        <div class="project-card-small">
          <h4>Project: Costdashboard</h4>
          <h5>Role:</h5>
          <p>Software/ cloud engineer</p>
          <h5>Techniques:</h5>
          <p>Python, TypeScript, AWS, Git, DynamoDB, Lambda, S3</p>
        </div>
        <div class="project-card-small">
          <h4>Project: Agile Racetrack</h4>
          <h5>Role:</h5>
          <p>Frontend developer/ cloud engineer</p>
          <h5>Techniques:</h5>
          <p>AWS, HTML, CSS, JavaScript, Python</p>
        </div>
        <div class="project-card-small">
          <h4>Project: Matroesjka</h4>
          <h5>Role:</h5>
          <p>Frontend developer</p>
          <h5>Techniques:</h5>
          <p>AWS Api gateway, HTML, CSS, JavaScript, AWS, Git</p>
        </div>
        <div class="project-card-small">
          <h4>Project: Code projects</h4>
          <h5>Role: Software engineer</h5>
          <p>Frontend developer</p>
          <h5>Techniques:</h5>
          <p>JavaScript, TypeScript, Python</p>
        </div>
        <div class="project-card-small">
          <h4>Project: Developer Portal</h4>
          <h5>Role:</h5>
          <p>Frontend developer/ cloud engineer</p>
          <h5>Techniques:</h5>
          <p>HTML, CSS, TypeScript, Python, Git, Azure DevOps</p>
        </div>
        <div class="project-card-small">
          <h4>Project: InnoSportLab</h4>
          <h5>Role:</h5>
          <p>Frontend developer</p>
          <h5>Techniques:</h5>
          <p>AWS, CSS, HTML, Ionic, JSON, TypeScript, Git</p>
        </div>
      </div>
    </section>
  </body>
</html>
